@media (max-width: 576px) {
  .logo {
    width: 80px;
    height: 85px;
  }
  .buttons button {
    padding: 18px;
  }
  .banner-section h1 {
    font-size: 22px;
  }
  header {
    height: auto;
  }
  .main {
    margin-top: 30px;
    padding: 20px;
  }
  .banner-section {
    width: 100%;
  }
  .banner-section p {
    font-size: 20px;
    display: none;
  }
  .search {
    flex-direction: column;
  }
  input {
    width: 100%;
  }
  .search button {
    width: 100%;
  }
  .col-50 {
    width: 100%;
  }
  .row {
    flex-direction: column;
    gap: 10px;
  }

  .video-wrapper video {
    top: -321px;
  }
  .padding-100 {
    padding: 10px;
  }
  .container {
    max-width: 1100px;
    padding: 31px;
  }
  .mobile {
    left: 17%;
  }
  .section-title {
    font-size: 41px;
  }
  .img-wrapper {
    display: none;
  }
}
@media (max-width: 768px) {
  .main {
    margin-top: 0;
  }
  .banner-section h1 {
    font-size: 34px;
  }
  header {
    height: 100%;
  }
  .search button {
    font-size: small;
    padding: 0;
  }
  .section-title {
    font-size: 29px;
  }
  .text-content {
    font-size: 16px;
  }
  .video-wrapper video {
    top: -230px;
  }
  .padding-100 {
    padding: 100px 0;
  }
  .mobile {
    height: 115px;
    width: 297px;
    left: 6%;
  }
  .screen {
    gap: 8px;
  }
  .video-wrapper2 video {
    top: -241px;
    left: 16%;
    width: 228px;
  }
}
@media (max-width: 1024px) {
  header {
    height: 100%;
  }
  .padding-100 {
    padding: 100px 0;
  }
  .video-wrapper2 video {
    position: absolute;
    top: -322px;
    left: 17%;
    width: 294px;
    z-index: 0;
  }
  .search button {
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .video-wrapper2 video {
    position: absolute;
    overflow: hidden;
    top: -281px;
    left: 17%;
    width: 251px;
  }
  .text-content {
    font-size: 16px;
  }
  .mobile {
    left: 14%;
  }
}
