* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Common csss */
.container {
  padding: 10px;
  margin: 0 auto;
  /* width: 95%; */
}
.w-30 {
  width: 25%;
}
img {
  width: 100%;
}
.top-header {
  background-color: #0f235a;
  display: flex;
  padding: 10px;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
}
.bcci-logo {
  height: 40px;
  width: 40px;
  margin-left: 40px;
  margin-right: 25px;
}
.anchor {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 15px;
}
.nav {
  display: flex;
  gap: 50px;
  align-items: center;
}
.logo-header {
  display: flex;
  align-items: center;
}
.bottom-header {
  display: flex;
  align-items: center;
}
.middle-header {
  padding: 10px;
  box-shadow: 0px -1px 4px 0px #111;
}
.middle-header a {
  text-decoration: none;
  text-transform: capitalize;
  color: #00000044;
  padding: 10px 15px;
  font-size: 18px;
}
.middle-header a:active {
  background-color: orangered;
}
.men {
  clip-path: polygon(0% 0%, 0% 122%, 23% 232%, 100% 0%, 31% 0%);
}

.bottom-header {
  box-shadow: -1px 0px 2px 0px #111;
  /* margin-top: 20px; */
  padding: 10px;
}
.bottom-header a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 15px;
  color: #0f235a;
}
/* Hero section styles */
.hero {
  background-color: #b4b0b044;
}
.swiper-wrapper,
.swiper {
  border-radius: 10px;
}
.swiper-slide {
  border-radius: 10px;
}
.swiper-slide img {
  border-radius: 10px;
}
.swiper .swiper-pagination-bullet {
  width: 100px;
  height: 2px;
  border-radius: 0;
}
.swiper .swiper-pagination-bullet:active {
  background-color: orangered;
}
/* Matches Section styles */
.heading-content {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 20px;
}
.heading-content h2 {
  color: #222;
  font-size: 40px;
  font-weight: 700;
}
.matches-links a {
  color: #0f235a;
  font-size: 25px;
  padding: 0 10px 0 10px;
}
.match-card {
  background-color: #0f235a;
  height: 200px;
}
