* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
body {
  padding: 20px 0;
  background-color: #000000;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
}
section {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 236px;
}
.aside-bar-left {
  height: 600px;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #14131a;
  overflow-x: hidden;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
nav {
  display: flex;
  flex-direction: column;
}
.social-cotainer {
  padding: 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.social-cotainer h2 {
  font-size: 24px;
  color: #807d7d;
  margin-bottom: 20px;
}
.link {
  display: flex;
  gap: 20px;
  /* margin-bottom: 20px; */
  color: #807d7d;
  align-items: center;
}
.link i {
  font-size: 30px;
}
nav a {
  text-decoration: none;
  color: #807d7d;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.container {
  max-width: 80%;
  padding: 30px;
  /* margin: 100px auto; */
}

.main-wrapper {
  background-image: url(images/cover-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #111;
  border: 1px solid pink;
}
.profile-content {
  height: 300px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  backdrop-filter: blur(12px);
  /* justify-content: center;  */
}
#contact {
  border: none;
  background-color: #242323;
  color: #c2c1c6;
  padding: 15px 20px;
  border-radius: 10px;
}
/* projects section */
.main-projects-wrapper {
  margin-top: 20px;
}
.row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.col-30 {
  width: 30%;
}
.img-wrap {
  overflow: hidden;
}
.single-project {
  border: 2px solid #292929;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 20px;
  /* box-shadow: rgb(117 180 255 / 27%) 5px 5px 12px 0px; */
  overflow: hidden;
  transition: 0.5s linear;
}
.project-body {
  color: #807d7d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-body h3 {
  color: #969696;
  font-size: 24px;
}
.img-wrap img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  transition: 0.3s ease;
}
.title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}
.img-wrap img:hover {
  transform: scale(1.2);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.single-project:hover {
  box-shadow: rgb(117 180 255 / 27%) 5px 5px 12px 0px;
  transform: scale(1.1);
}
/* what i know section styles */
.what-i-know-wrapper {
  margin-top: 20px;
}
.col-50 {
  width: 50%;
}
.lang-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* width: 100%; */
  gap: 20px;
}
.lang {
  background-color: #14131a;
  border-radius: 12px;
  padding: 20px;
}
.lang-wrapper a {
  display: inline-block;
  text-decoration: none;
  color: #807d7d;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid green;
  margin: 10px;
}
.subtitle {
  color: #807d7d;
  padding: 10px;
}
.text-lang {
  color: #807d7d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
}
.lang-wrapper a:nth-of-type(2) {
  border-color: rgb(107, 8, 81);
}
.lang-wrapper a:nth-of-type(3) {
  border-color: rgb(107, 8, 8);
}
.lang-wrapper a:nth-of-type(4) {
  border-color: rgb(79, 8, 107);
}
.lang-wrapper a:nth-of-type(6) {
  border-color: rgb(25, 8, 107);
}
.col-20 {
  width: 20%;
}
/* task section styles  */
.task-wrapper {
  background-image: url(images/polygon-scatter-haikei-bg.svg);
  /* background-image: url(https://hdqwalls.com/wallpapers/abstract-vector-graphic-design-hf.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.task-item-wrapper {
  /* height: 300px; */
  backdrop-filter: blur(6px);
  padding: 40px;
}
.single-task {
  color: #888789;
  margin-bottom: 50px;
  height: 300px;
}

.just-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.task-img {
  box-shadow: rgb(255 253 253) 1px 1px 20px 3px;
  transition: 0.3s ease;
}
.task-name {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;

  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.task-img:hover {
  border-radius: 10% 0px 10% 0px;
  opacity: 0.7;
  transform: scale(0.9);
}
/* CTA section styles starts */
.cta-form {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #ff007384;
  width: 50%;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(246, 244, 244, 0.744), 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff4b;
  backdrop-filter: blur(10px);
}
form {
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #969696;
  padding: 20px;
  background-image: url(images/patternpad.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
.cta-form div {
  /* padding: 10px; */
  margin-bottom: 20px;
}
input {
  background: transparent;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 0.7em 2em;
  border: 3px solid #ff007384;
}
label {
  margin-bottom: 10px;
  display: inline-block;
  color: #ee1979d4;
  font-size: 18px;
  font-weight: bold;
}

.submit {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #ff0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #ff0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.submit:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ff0072;
  z-index: -1;
}

.submit:hover,
.submit:focus {
  color: white;
}

.submit:hover:before,
.submit:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.submit:active {
  transform: scale(0.9);
}
/* bubble */
.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 47%;

  left: 15px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
  animation: animate_4010 5s ease-in-out infinite;
}

.bubble:nth-child(2) {
  position: relative;
  zoom: 0.65;
  left: 535px;
  top: 438px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  position: relative;
  zoom: 0.45;
  right: -86px;
  top: 193px;
  left: 1243px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  position: relative;
  zoom: 0.35;
  left: 823px;
  bottom: -528px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  position: relative;
  zoom: 0.5;
  left: 0px;
  top: 200px;
  animation-delay: -5s;
}

@keyframes animate_4010 {
  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}
.relative {
  position: relative;
  z-index: 1111111111111111111;
}
.bubble-wrapper {
  position: absolute;
  top: 102%;
  left: 20%;
}
.bubble-wrapper:nth-of-type(2) {
  top: 153%;
  left: 21%;
}
.pd-100 {
  padding: 100px 30px;
}
.bubble-wrapper:nth-of-type(2) .bubble:nth-child(1) {
  top: 154px;
  left: -128px;
}
