* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
body {
  padding: 20px 0;
  background-color: #000000;
  overflow-x: hidden;
}
img {
  width: 100%;
}
section {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 236px;
}
.aside-bar-left {
  height: 600px;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #14131a;
  overflow-x: hidden;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
nav {
  display: flex;
  flex-direction: column;
}
.social-cotainer {
  padding: 20px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.social-cotainer h2 {
  font-size: 24px;
  color: #807d7d;
  margin-bottom: 20px;
}
.link {
  display: flex;
  gap: 20px;
  /* margin-bottom: 20px; */
  color: #807d7d;
  align-items: center;
}
.link i {
  font-size: 30px;
}
nav a {
  text-decoration: none;
  color: #807d7d;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.container {
  max-width: 80%;
  padding: 24px;
  /* margin: 10px 200px; */
}

.main-wrapper {
  background-image: url(images/cover-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.profile-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #111;
  border: 1px solid pink;
}
.profile-content {
  height: 300px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  backdrop-filter: blur(12px);
  /* justify-content: center;  */
}
#contact {
  border: none;
  background-color: #242323;
  color: #c2c1c6;
  padding: 15px 20px;
  border-radius: 10px;
}
.row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.col-30 {
  width: 30%;
}
.img-wrap {
  overflow: hidden;
}
.single-project {
  border: 2px solid #292929;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 20px;
  /* box-shadow: rgb(117 180 255 / 27%) 5px 5px 12px 0px; */
  overflow: hidden;
  transition: 0.5s linear
}
.project-body {
  color: #807d7d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-body h3 {
  color: #969696;
  font-size: 24px;
}
.img-wrap img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  transition: 0.3s ease;
}
.title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}
.img-wrap img:hover {
  transform: scale(1.2);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.single-project:hover {
  box-shadow: rgb(117 180 255 / 27%) 5px 5px 12px 0px;
  transform: scale(1.1);
}
